<div ng-controller='carouselCtrl'>
	<carousel interval="22000">
		<slide ng-repeat="slide in slides" active="slide.active" >
			<!--<img ng-src="/img/{{slide.image}}" style="margin:auto;">-->
			<div class="background-image" style="background: url(../images/{{slide.image}}) center no-repeat"></div>
			<div class="carousel-caption">
				<h1>{{slide.header}}</h1>
				<div ng-bind-html='slide.content'></div>
				<p><a class="btn btn-lg btn-primary bgTransition" ng-href="{{slide.button.href}}" role="button">{{slide.button.text}}</a></p>
			</div>
		</slide>
	</carousel>
</div>