<!DOCTYPE html>
<html lang="en" ng-app='nomaspoderalpoderAPP'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="spaceshiplabs.com">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <meta name="description" content="La iniciativa presidencial de Ley de Telecomunicaciones apesta. Esta plataforma te facilita hacerles llegar tu opinion a diputados y senadores vía redes sociales.">

    <meta property="og:title" content="#Nomáspoderapp | Exígele a tus Diputados y Senadores. Encuéntralos aquí." />
    <meta property="og:description" content="La iniciativa presidencial de Ley de Telecomunicaciones apesta. Esta plataforma te facilita hacerles llegar tu opinion a diputados y senadores vía redes sociales.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nomaspoder.mx/" />
    <meta property="og:image" content="http://nomaspoder.mx/images/face.jpg" />

    <title>#Nomáspoderapp | Exígele a tus Diputados y Senadores. Encuéntralos aquí.</title>
    
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/styles/footable.min.css" rel="stylesheet">
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/chosen.css">
    <link rel="stylesheet" href="/styles/footable.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>
  <body>
    <%- partial('global/navbar') %>
    <%- partial('global/angular-carousel') %>

    <div class="container marketing"><%- body %></div>
    
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Regresar al principio</a></p>
            <p>
                <a popover="GNU" popover-trigger="mouseenter" href='https://github.com/el-sonny/nomaspoderalpoder' class='copyleft pull-left'>&copy;</a>
                2014 
                <a href='http://spaceshiplabs.com'>spaceshiplabs.com</a> &middot; 
                <a href="https://github.com/el-sonny/nomaspoderalpoder">Github</a>
            </p>            
        </div>
    </footer>
    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-chosen-localytics/chosen.js"></script>
    <script src="/js/dependencies/chosen.jquery.js"></script>
    <script src="/bower_components/moment/min/moment-with-langs.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/socketConnect.js"></script>
    <script src="/js/﻿footable.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.footable').footable();
        });
    </script>   
    <!--SCRIPTS END-->
    <%- partial('global/analytics') %>
  </body>
</html>