<!DOCTYPE html>
<html lang="en" ng-app='nomaspoderalpoderAPP'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nomaspoderapp">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <meta property="og:title" content="#Nomaspoderapp" />
    <meta name="description" content="El Congreso de la Unión, legisla no sólo a espaldas de nosotros, sino en nuestra contra.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nomaspoder.mx/" />
    <meta property="og:image" content="/images/face.jpg" />

    <title>#Nomáspoderapp</title>
    
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.css">
    <!--STYLES END-->

  </head>
  <body>
    <%- partial('global/navbar') %>
    <%- partial('global/angular-carousel') %>

    <div class="container marketing"><%- body %></div>
    
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Regresar al principio</a></p>
            <p>
                <a class='glyphicon glyphicon-copyright-mark copyleft' href='https://github.com/el-sonny/nomaspoderalpoder'></a>
                2014 
                <a href='http://spaceshiplabs.com'>spaceshiplabs.com</a> &middot; 
                <a href="https://github.com/el-sonny/nomaspoderalpoder">Github</a>
            </p>            
        </div>
    </footer>
    <!--SCRIPTS-->
    <script src="/min/production.js"></script>
    <!--SCRIPTS END-->
    <%- partial('global/analytics') %>
  </body>
</html>