<a name='analisis'></a>
<h2>Algunos puntos inconstitucionales, incongruentes o que contravienen el interés público de las iniciativas de leyes secundarias de telecomunicaciones presentadas por el presidente Enrique Peña Nieto el 24 de marzo de 2014
<br/>
<small>Clara Luz Álvarez <br/>
Investigadora del Instituto de Investigaciones Jurídicas, UNAM</small></h2>
<div class='table-responsive'>
	<table class='table '>
		<tbody>
			<tr>
				<th colspan="2">
					<h3 align="center">Telecomunicaciones y órgano regulador</h3>
				</th>
			</tr>
			<tr>
				<th>Tema</th>
				<th>Observaciones de inconstitucionalidad, incongruencia o contravención al interés públicos</th>
			</tr>
			<tr>
				<td>Colaboración con la justicia</td>
				<td>En varios textos de este Capítulo de Colaboración con la Justicia se violan derechos humanos.<p></p>
					<ul>
					<li>Se incluyen facultades para que las instancias de seguridad (Cisen, Policía Federal, Secretaría de la Defensa Nacional, Secretaría de Marina, entre otras) puedan obtener información de los concesionarios sobre la localización en tiempo real de cualquier dispositivo de comunicación (geolocalización) para sus labores de “producción de inteligencia”, sin que medie orden judicial y sin establecer supuestos para evitar violación a derechos humanos.</li>
					<li>Se amplía la obligación de los concesionarios de conservar información sobre las comunicaciones de sus clientes (p. ej., tipo de comunicación, fecha/hora/duración de la comunicación, ubicación geográfica del dispositivo) por 24 meses, sin que exista una justificación para ello.</li>
					<li>Las instancias de procuración de justicia (p.ej. PGR, procuradurías, MP) y las instancias de seguridad pueden solicitar la información sobre las comunicaciones, sin que se establezcan limitaciones para evitar violaciones de derechos humanos.</li>
					<li>Las instancias de seguridad pueden solicitar en casos de amenazas a la seguridad nacional, facilidades para obtener información relacionada con cualquier comunicación o dispositivos. Aun cuando requiere orden judicial, no se establecen los detalles que debe incluir la solicitud como sí se hace en otras leyes para temas que pueden infringir derechos humanos.</li>
					<li>En eventos y lugares críticos para la seguridad público y nacional, los concesionarios y autorizados (p. ej. comercializadoras) están obligados a bloquear, inhibir o anular de manera temporal las señales de telecomunicaciones&nbsp; cuando se los soliciten las “autoridades competentes”. No define quienes son autoridades competentes, ni si debe mediar orden judicial, ni tampoco establece los límites en los cuales las autoridades deben justificar que amerita el bloqueo de señales. Esto puede ser un mecanismo para impedir que en una manifestación los periodistas, los medios de comunicación y la sociedad difundan información en contravención del derecho a la información y libertad de expresión, que las personas puedan sumarse a la manifestación en perjuicio del derecho fundamental de libertad de asociación, entre un sinfín de riesgos a los derechos humanos.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Intromisión en la autonomía del IFT por parte del Ejecutivo Federal</td>
				<td>A la Secretaría de Gobernación (Segob) le dan competencia contrariando a la Constitución:<p></p>
					<ul>
						<li>en materia de contenidos audiovisuales lo cual es totalmente contrario a un país que aspire a ser democrático.</li>
						<li>en materia de programación y publicidad dirigida a la infancia, siendo que la reforma constitucional ordenó que sea el IFT quien supervise todo ello.</li>
						<li>en materia de equilibrio entre publicidad y programación, contrario a la facultad constitucional de que sea el IFT, se le dan facultades a Segob para que “monitoree”.</li>
						</ul>
						<p>&nbsp;</p>
						<p>A la SCT se le dan facultades para:</p>
						<ul>
						<li>hacer recomendaciones al programa de trabajo del IFT y, aunque dichas recomendaciones no sean vinculantes, quebrantan la autonomía constitucional.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Facultades del IFT que fueron omitidas</td>
				<td>No se le otorgan facultades para la alfabetización mediática de la población (ver más adelante sobre alfabetización mediática).</td>
			</tr>
			<tr>
				<td>Facultades indelegables del Pleno del IFT injustificadas</td>
				<td>Resulta excesivo que ciertas facultades sean indelegables e incluso pueden generar la parálisis regulatoria, si muchos asuntos los tiene que resolver el Pleno del IFT. Algunos ejemplos.<p></p>
					<ul>
						<li>El que se establezca que las sanciones sólo puedan ser impuestas por el Pleno del IFT, no se justifica en atención a que existen muchos incumplimientos de falta de entrega de documentación, etc., que <span style="text-decoration: underline;">no</span> requieren que sea el Pleno quien lo analice y resuelva. Pueden perfectamente desempeñar esa función los titulares de las unidades del IFT y sólo reservar al Pleno del IFT aquellas que sean causal de revocación, desinversión u otras de mayor trascendencia. El efecto de que las sanciones sólo las imponga el Pleno será que las sanciones no se impongan de manera oportuna.</li>
						<li>Las facultades en materia de competencia económica, toda vez que muchas de las facultades pueden perfectamente ser realizadas por otros servidores públicos e incluso en la etapa de investigación debe ser una autoridad distinta al Pleno.</li>
						<li>La aprobación de tarifas puede perfectamente realizarse por el titular de la unidad respectivo.</li>
						<li>La colaboración con el Ejecutivo Federal&nbsp; para la negociación de tratados, también puede realizarse por otras instancias.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Sanciones – ineficacia del sistema propuesto</td>
				<td>Las sanciones se imponen para desincentivar el incumplimiento al marco jurídico y penalizar a aquella persona que lo viole. Las sanciones deben ser impuestas de manera oportuna y ser suficientes para generar el desincentivo.La iniciativa establece que las sanciones se pagarán hasta que causen estado administrativa y judicialmente, lo cual quebranta el principio de validez de los actos administrativos que ordena que los actos se cumplan a menos que exista suspensión porque hay una presunción de validez del acto. El que cause estado administrativa y judicialmente sería un incentivo perverso para favorecer el incumplimiento al marco jurídico, a sabiendas que cualquier multa impuesta no deberá pagarse sino hasta que en última instancia un tribunal confirme la multa lo cual puede ser en el mejor de los casos 2 años después de que inicialmente se impusiera la multa.No hay un razonamiento en la exposición de motivos del presidente Peña Nieto del por qué las sanciones son menores para contenidos audiovisuales que por el resto de las infracciones.Tampoco se establece un procedimiento sumario (con plazos más cortos) para el procedimiento administrativo sancionador, lo cual sería muy positivo para el sector.<p></p>
				<p>&nbsp;</p></td>
			</tr>
			<tr>
				<td>Consejo Consultivo</td>
				<td>El Consejo Consultivo debe estar abierto a una convocatoria pública y no sólo a la propuesta del Presidente del IFT. De dejarlo así, se presta a crear un Consejo Consultivo que comparta la línea ideológica del Presidente, pero que se pierdan otras voces que aporten diversidad a la discusión aun cuando difieran el Presidente en turno.El plazo de 1 año para ser consejero es limitado, debiera ser de al menos 2 años.Las opiniones de un Consejo Consultivo si bien no son vinculantes, el IFT debe tomarlas en cuenta y exponer los razonamientos de por qué no incluye las recomendaciones. Ello es consistente con lo que sucede con los consejos consultivos de órganos reguladores como la Federal Communications Commission de EUA y Ofcom de Reino Unido, entre otros.El Consejo Consultivo también debiera incluir las opiniones de los ciudadanos de a pie.<p></p>
				<p>&nbsp;</p></td>
			</tr>
			<tr>
				<td>Trabajadores del IFT</td>
				<td>La iniciativa señala que todos serán trabajadores de confianza en el texto de la Ley Federal de Telecomunicaciones y Radiodifusión, y en un transitorio señala que se establecerá el servicio profesional de carrera. Lo anterior es incongruente o son de confianza o están sujetos a un servicio profesional de carrera.Es contrario a la formación de instituciones que todos los trabajadores sean catalogados como de confianza. La mayoría de los trabajadores del IFT deben ser del servicio profesional de carrera y únicamente por excepción, deberán designarse a los menos como trabajadores de confianza.</td>
			</tr>
			<tr>
				<td>Derechos de los usuarios</td>
				<td>Omiten incluir derechos de los usuarios que ya están reconocidos hoy en el marco jurídico mexicano, por lo cual la iniciativa es una regresión. Algunos de los derechos omitidos son:<p></p>
				<ul>
					<li>faltan cláusulas de relativas a los contratos de adhesión como (i) que las cláusulas abusivas se tendrán por no puestas, (ii) que se interpretará en lo más favorable a quien no redactó el contrato, y (iii) las penas convencionales deben ser proporcionales y equitativas</li>
					<li>los concesionarios están obligados al desbloqueo gratuito de equipos terminales (p. ej. celulares) cuando el equipo se haya pagado en su totalidad, cuando haya vencido el plazo forzoso o bien, cuando se haya pagado la pena convencional de un contrato con plazo forzosos.</li>
					<li>se debe informar sobre las velocidades de acceso y salida de los servicios</li>
					<li>se debe compensar proporcionalmente al usuario por los servicios que no se presten en la forma y términos convenidos, así como bonificar al menos el 20% del monto del periodo de afectación de la prestación del servicio</li>
				</ul>
				<p>&nbsp;</p>
				<p>Adicionalmente, el que se vuelvan a otorgar facultades a la Procuraduría Federal del Consumidor (Profeco) para defender los derechos de los usuarios, ignora la larga historia de décadas en la que los derechos de los usuarios de telecomunicaciones no fueron defendidos debidamente, además de que existe diversos derechos muy específicos de las telecomunicaciones que ameritan que en lugar de que se cree una subprocuraduría o unidad para los usuarios de telecomunicaciones, mejor que esa área se cree para el IFT.</p>
				<p>&nbsp;</p></td>
			</tr>
			<tr>
				<td>Contención de un posible prestador de servicios de TV restringida</td>
				<td>Ni la iniciativa, ni la exposición de motivos justifican el por qué se establece un periodo de 24 meses que no viene contemplado en el texto constitucional.&nbsp; El resultado de ello es que la sociedad se vea privada de un posible nuevo oferente del servicio de TV restringida, en perjuicio de la competencia. Esta cláusula está dirigida a Teléfonos de México y Teléfonos del Noreste que son las empresas que tienen prohibición en su título de concesión de prestar servicio de televisión.La Constitución impone la obligación de que los servicios se presten en competencia, por lo que limitar la entrada a un agente económico debe tener una justificación observando los principios de idoneidad y adecuación al fin que se persigue, razonabilidad y proporcionalidad. Todos estos principios y la Constitución misma es incumplida con establecer un periodo de 24 meses, sin justificación. Lo que debiera pasar es que se autorice la prestación del servicios de TV restringida a Telmex/Telnor, pero con medidas asimétricas especiales para evitar que pudiera abusar de su poder de mercado.</td>
			</tr>
			<tr>
				<td>Accesibilidad a las telecomunicaciones y la radiodifusión por personas con discapacidad</td>
				<td>La iniciativa es pobrísima en cuanto a respetar la accesibilidad a las telecomunicaciones y radiodifusión por personas con discapacidad y omite observar lo que le dé vida práctica en este tema a la Convención sobre los Derechos de las Personas con Discapacidad para que el Estado mexicano deje de estar en violación flagrante a esta Convención en materia de accesibilidad a las telecomunicaciones. Las leyes que prevé la iniciativa deben incluir <span style="text-decoration: underline;">al menos</span>:<p></p>
					<ul>
					<li>Subtitulaje y/o intérprete en lengua de señas (discapacidad auditiva) en todos los contenidos audiovisuales con un calendario de implementación, iniciando con los programas de noticias.</li>
					<li>Servicio de retransmisión o relevo de comunicaciones (discapacidad auditiva)</li>
					<li>Bandas informativas y con sonido identificador de señal de emergencia en TV (discapacidad auditiva y visual)</li>
					<li>Sitios web con criterios de accesibilidad (p. ej. contar con mapa de sitio, proveer texto de los audios, formatos accesibles, tipo y tamaño de letra)</li>
					<li>Equipos accesibles (p. ej. ajuste de volumen, pantallas más grandes, traducción de texto a voz, compatibles con dispositivos de ayuda)</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Omiten la alfabetización mediática</td>
				<td>La alfabetización mediática es indispensable para que la sociedad pueda ejercer y gozar debidamente de diversos derechos humanos. La iniciativa es omisa en cuanto a alfabetización mediática. Ésta debe ser competencia del IFT e incluir al menos:<p></p>
				<ul>
					<li>Capacitar para tener conocimientos para acceder a medios de comunicación (p. ej. TV, radio, internet, cine, móviles).</li>
					<li>Capacitar para comprender contenidos y programas que se reciben (p. ej. saber que información es previamente seleccionada por el editor)</li>
					<li>Capacitar para poder discriminar entre lo que es publicidad, información y programas.</li>
					<li>Capacitar para saber navegar en internet y saber cómo funcionan los motores de búsqueda (p. ej. Google)</li>
					<li>Capacitar para conocer los riesgos del uso de nuevas tecnologías.</li>
				</ul>
				<p>&nbsp;</p></td>
			</tr>
			<tr>
				<td>Concesiones para uso de bandas de frecuencias del espectro radioeléctrico</td>
				<td>Sólo debe exigirse obtener autorización de la Comisión Nacional de Inversiones Extranjeras a aquellas personas que soliciten concesión y tengan inversión extranjera.</td>
			</tr>
			<tr>
				<td>Red pública compartida de telecomunicaciones a cargo del Ejecutivo Federal</td>
				<td>Carece de plazo para el cumplimiento de este mandato constitucional y que está reflejado en la iniciativa. Debiera existir también obligaciones del Ejecutivo Federal para cumplir con la instalación y activación de la red pública compartida.</td>
			</tr>
		</tbody>
	</table>
</div>

<div class='table-responsive'>
<table class='table'>
	<tbody>
		<tr>
			<th colspan="2"><h3 align="center">Preponderancia, contenidos, publicidad y otros</h3></td>
		</tr>
		<tr>
		<th><p>Tema</p></th>
		<th><p>Observaciones de inconstitucionalidad, incongruencia    o contravención al interés públicos</p></th>
		</tr>
		<tr>
		<td><p>Preponderancia</p></td>
		<td><p>Las definiciones de preponderante deben permitir que se puedan establecer preponderantes por servicio dentro de cada sector. Es decir, que se pueda    establecer en el sector de telecomunicaciones a un preponderante en telefonía fija, otro en telefonía móvil, otro en TV restringida, otro en transmisión de datos, etc. En tanto que la preponderancia en radiodifusión debe permitir que exista una preponderante en radio abierta y otro en TV abierta.</p>
		<p>La definición de preponderante para radiodifusión omite que también ésta se pueda medir por la capacidad, es decir, por el número de MHz que tenga. Esa métrica está establecida en la Constitución y fue omitida en la iniciativa.</p>
		<p>Las medidas para que el preponderante de radiodifusión evite abusar de su    preponderancia en el sector son muy limitadas y se deben establecer medidas que efectivamente limiten ese poder, que reconozcan mayores candados para evitar que los derechos de las audiencias sean violentados, etcétera. A manera de ejemplo, las medidas deben incluir al menos que la información de sus servicios/productos de publicidad sea pública y las solicitudes que reciban se procesen a través del Sistema Electrónico de Gestión para evitar que discrimine y haga negativa de trato a posibles anunciantes de competidores del preponderante o aquellos que tengan información que difundir que pudiera estar en contra de los anunciantes del preponderante (p. ej.    difundir la importancia de beber agua sola vs. anunciantes de bebidas con alto contenido calórico).</p></td>
		</tr>
		<tr>
		<td><p>Propiedad cruzada de medios</p></td>
		<td><p>La iniciativa pretende reducir los límites a la propiedad cruzada de medios a    tan solo un castigo para aquellos que impidan o limiten el acceso a    información plural y además no cumplan con determinaciones del IFT. Los  límites a la propiedad cruzada deben estar establecidos en ley y no sólo enviarlos como un remedio después de que ya existe un daño irreparable al derecho a la información de la sociedad.</p>
		<p>Los límites a la propiedad cruzada de medios son un instrumento para evitar que    se afecte la libertad de expresión y el derecho a la información por la    concentración en un grupo corporativo de diversos medios de comunicación.    (ver Álvarez, Clara Luz, <em>Derecho de las telecomunicaciones</em>, 3ª ed., Themis, Bogotá, 2014) Esto es, los límites a la propiedad cruzada de medios no deben ser vistos únicamente como un remedio    o sanción, sino que sirven para evitar se afecte a los derechos humanos    informativos.</p></td>
		</tr>
		<tr>
		<td><p>Publicidad</p></td>
		<td><p>Los    límites máximos de publicidad en radio y TV son contrarios a la experiencia    comparada porque (1) son excesivos, y (2) omiten establecer que los límites    son por hora y no por el tiempo total de transmisión como lo hace la    iniciativa. </p>
		<p>En TV    abierta se le destina el 18% del total de la transmisión, por lo que se    infringen los derechos de las audiencias al permitir que el concesionario    pueda establecer horas en las que se excede es porcentaje, siempre y cuando    se respete el 18% del total de la transmisión. En la Unión Europea el máximo    es de 12 minutos por hora al igual que en Argentina. En Argentina los    contenidos audiovisuales por suscripción (pay per view) no pueden insertar    publicidad.</p>
		<p>En    radio abierta se le destina el 40%, porcentaje que de por sí es excesivo si    lo comparamos con otros países democráticos. De tal suerte que se infringen    los derechos de las audiencias por ser un porcentaje excesivo y por permitir    que el concesionario pueda establecer horas en las que se excede es    porcentaje, siempre y cuando se respete el 40% del total de la transmisión.    En Argentina el máximo es de 14 minutos por hora.</p>
		<p>La    publicidad disfrazada de noticia que no sea de contenido electoral, también    tiene que estar prohibida expresamente en la ley. La iniciativa no establece    esta prohibición.</p>
		<p>La    iniciativa permite el derecho de comercializar espacios dentro de la    programación lo cual parece un tipo de “product placement” o colocar la    marca, producto o servicio dentro de la programación y remite a lo    establecido en la ley y demás normatividad. Esto quebranta el derecho a la    información y de las derecho de las audiencias al permitir que se    comercialice espacios dentro de la programación, si así lo fuere, debe haber    un letrero que de manera inequívoca señale que se trata de propaganda pagada.</p></td>
		</tr>
		<tr>
		<td><p>Violación    al derecho de las audiencias</p></td>
		<td><p>Se    penaliza a las audiencias con más publicidad en el supuesto de que el    concesionario incluya producción nacional independiente en más del 20%. De    esta manera el concesionario puede incrementar hasta en 5% su publicidad. El    fomento a la producción nacional independiente <u>no</u> debe ser castigando    a la audiencia con más publicidad. </p>
		<p>En    otros países es una obligación incluir producción nacional independiente y    evidentemente no existe un incremento a la publicidad, ni otro tipo de violaciones    a los derechos de las audiencias.</p></td>
		</tr>
		<tr>
		<td><p>Derechos    de las audiencias limitados</p></td>
		<td><p>El    catálogo de derechos de las audiencias es muy limitado.</p>
		<p>Aun cuando establece la figura del defensor de las audiencias, no existe un    recurso o remedio legal para el supuesto de que el defensor no atienda a la    audiencia o el concesionario no atienda las recomendaciones del defensor de    la audiencia. Tampoco se designa quien será la autoridad competente en caso    de que el defensor o el concesionario no respeten los derechos de las    audiencias.</p></td>
		</tr>
		<tr>
		<td><p>Tiempos    de Estado y tiempos fiscales</p></td>
		<td><p>La    iniciativa retoma los tiempos de Estado de 30 minutos que deben destinar los    concesionarios diario para difundir temas educativos, culturales y de interés    social. Sin embargo, la iniciativa omite incluir los llamados tiempos    fiscales que, de no incluirse expresamente en la Ley Federal de    Telecomunicaciones y Radiodifusión, corren el riesgo grave de que no puedan    exigírseles a los actuales concesionarios y jamás se podrán exigir a los    futuros concesionarios. No sirve que la exposición de motivos diga que los    tiempos son “sin perjuicio de los establecidos en    otros ordenamientos o disposiciones”.</p></td>
		</tr>
		<tr>
		<td><p>Producción    nacional independiente</p></td>
		<td><p>La    definición que se establezca en la ley debe señalar que si una persona vende    el 75% de su programación a un solo concesionario, no podrá ser considerado    como productor nacional independiente para el cómputo de la programación    nacional independiente que deba tener el concesionario en sus transmisiones.</p>
		<p>Se    debe establecer que los concesionarios deberán destinar al menos el 10% de    sus presupuestos en adquirir producción nacional independiente. La inclusión    de producción nacional independiente <u>no</u> debe autorizar a incrementar    el tiempo de publicidad.</p></td>
		</tr>
		<tr>
		<td><p>Radio FM</p></td>
		<td><p>La iniciativa debe incluir en un transitorio que la radio FM para hacer un uso más eficiente del espectro y permitir nuevas voces en radio FM, reordenará el espectro para que en lugar de ocupar 800 kHz, sea sólo de 400 kHz, en un    plazo que no debe exceder los 90 días naturales a partir de que se publique la reforma respectiva. </p></td>
		</tr>
	</tbody>
</table>
</div>
<div class='table-responsive'>
	<table class="table">
  <tbody><tr>
    <th colspan="2"><h3 align="center">Medios públicos y Sistema Público de    Radiodifusión</h3></th>
  </tr>
  <tr>
    <th><p>Tema</p></th>
    <th><p>Observaciones de inconstitucionalidad,    incongruencia o contravención al interés públicos</p></th>
  </tr>
  <tr>
    <td><p>Medios públicos</p></td>
    <td><p>Los principios para garantizar la existencia de verdaderos medios públicos    contenida en el artículo Décimo transitorio de la reforma constitucional de    junio de 2013, <u>no</u> están reflejados en la iniciativa.</p>
      <p>Tampoco se establece la manera en que los actuales medios gestionados por los    gobiernos federal y estatales transitarán a verdaderos medios públicos.</p>
      <p>Se debe garantizar al menos un presupuesto suficiente y garantizado por año.    También sería conveniente permitir al menos un porcentaje máximo de    publicidad.</p></td>
  </tr>
  <tr>
    <td><p>Sistema Público de Radiodifusión</p></td>
    <td><p>Contrario a la Constitución y para hacer decorativa la función del Consejo Consultivo, se introduce una figura de Junta de Gobierno que sería el órgano supremo de decisión.</p>
      <p>No sólo es inadmisible e inconstitucional esa Junta de Gobierno por desvirtuar    el propósito de la Constitución de tener un verdadero medio público regido    por un Consejo Consultivo, sino que la Junta de Gobierno propuesta por la    iniciativa tendrá más representantes del Ejecutivo Federal (1 representante    de Segob, 1 representante de SEP, 1 representante de la Secretaría de Salud y    el Presidente del Sistema que es propuesto por el Ejecutivo Federal), mientras que sólo 3 con del Consejo Consultivo. Uno de los representantes del    Ejecutivo Federal presidirá la Junta de Gobierno que es el órgano supremo de    decisión del Sistema y además tendría voto de calidad en caso de empate.</p>
      <p>La    iniciativa adscribe a este órgano que por disposición constitucional debe ser    autónomo, a la Secretaría de Gobernación como coordinadora de sector. Ello es    contrario a la Constitución y a un país que aspire a un democracia genuina.</p></td>
  </tr>
</tbody></table>
</div>

<div class='table-responsive'>
	<table class="table">
  <tbody><tr>
    <th colspan="2"><h3 align="center">Medios de uso social, comunitarios e    indígenas</h3></th>
  </tr>
  <tr>
    <th><p>Tema</p></th>
    <th><p>Observaciones de inconstitucionalidad,    incongruencia o contravención al interés públicos</p></th>
  </tr>
  <tr>
    <td><p>Medios de uso social</p></td>
    <td><p>Se establece un procedimiento para solicitar una concesión de uso social que    genera incertidumbre jurídica al señalar que deberán cumplir con los    requisitos para acreditar capacidad jurídica, técnica y financiera, sin    señalar cuáles son esos requisitos o un umbral máximo de requisitos a pedir.</p>
      <p>Se les equipara a los medios públicos para la obtención de concesiones, siendo que    la situación de los medios de uso social es muy distinta a la de los medios    públicos. Los requisitos y procedimientos para obtener una concesión de uso    social debieran ser mínimos y sencillos, debiendo el IFT auxiliar a aquellos    interesados en obtener una concesión de uso social para integrar debidamente    su solicitud.</p>
      <p>Para concesiones de uso social para radiodifusión se incluye un requisito    adicional y contrario a cualquier lógica, que es limitar a los solicitantes a    que lo presenten dentro de un plazo que se establecería en el programa anual    de uso y aprovechamiento de bandas de frecuencias emitido por el IFT. Ese    requisito debe eliminarse y permitirse que en cualquier momento y respecto a    cualquier banda, pueda una persona solicitar al IFT una concesión de uso    social para radiodifusión.</p>
      <p>Se    establecen requisitos de evaluación mayores para las concesiones de    radiodifusión de uso social, sin que exista justificación.</p>
      <p>No se    establece una reserva de espectro radioeléctrico de al menos el 20% para    concesiones de uso social para radiodifusión.</p>
      <p>Las    fuentes de ingresos deben incluir también: la venta de productos o servicios,    proyectos de financiamiento y convenios de coinversión para la producción o    difusión de contenidos, y publicidad hasta cierto porcentaje.</p>
      <p>Se    debe incluir la figura de la afirmativa ficta para facilitar la gestión de la    obtención de concesiones de uso social. </p>
      <p>La    exposición de motivos no justifica el por qué no puede permitirse la cesión,    por lo cual está discriminando a los concesionarios de uso social sin    justificación.</p>
      <p>El    plazo de las concesiones para uso de frecuencias es por regla de hasta 20    años y en el caso de las de uso social, sin justificación alguna, les reduce    el plazo por uno de hasta 15 años. Eso es una    discriminación injustificada que viola el artículo 1 de la Constitución. </p></td>
  </tr>
  <tr>
    <td><p>Medios    indígenas</p></td>
    <td><p>Para    la existencia de medios indígenas debiera haber una acción afirmativa, en la    cual se reduzcan todos los requisitos al máximo y se fomente la existencia de    dichos medios. La iniciativa actual pretende ignorar lo dispuesto en el    artículo 2 de la Constitución y además de la situación de la población    indígena que exige un trato favorable y de promoción.</p></td>
  </tr>
</tbody></table>
</div>
<p>Fuente: <a href='http://biblio.juridicas.unam.mx/revista/HechosyDerechos/cont/20/art25.htm'>http://biblio.juridicas.unam.mx/revista/HechosyDerechos/cont/20/art25.htm</a></p>