<script type='text/javascript'>
    window.entidades = <%- JSON.stringify(entidades) %>;
    window.representantes = <%- JSON.stringify(representantes) %>;
</script>
<div class="row" ng-controller='HomeCtrl'>
  <div class="col-lg-8">
    <h2>Representantes</h2>    
    <div class='col-lg-12'>
      <div class="btn-group">
          <button type="button" class="btn btn-default" ng-model="selectedCamara" btn-radio="'S'">Senadores</button>
          <button type="button" class="btn btn-default" ng-model="selectedCamara" btn-radio="'D'">Diputados</button>
      </div>
      
      <div class="pull-right">
        <select name='' class='form-control' ng-model='selectedEntidad' ng-options='e.nombre for e in entidades' ></select>
      </div>

    </div>
    <div class='row'>
      <div class='col-md-4' ng-repeat='rep in representantes | filter:repFilter()'>
        <div class='representante panel panel-default' >
          <div class='panel-body '>
            <span ng-class='rep.partido' class='label partido'>{{rep.partido}}</span>
            <img ng-src='{{ rep.twitter_avatar || defaultImg }}' class='img-circle img-responsive'/>
            <p>
              <strong>{{ rep.nombre }}</strong><br/>
              {{ rep.entidad.nombre }}<br/>
              {{camara(rep.camara)}}<br/>
            </p>
            <p class='social-media'>
              <a ng-repeat='net in socialNetworks' ng-href='{{socialLink(rep,net)}}' ng-hide='!socialLink(rep,net)'><span ng-class='"fa-"+net+"-square"' class='fa'></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class='col-lg-4 tweets'>
    <h2><i class="fa fa-twitter"></i> Tweets</h2>
        <ul class='list-unstyled'>
            <li class='text-left clearfix' ng-repeat='tweet in tweets' > 	
                <img ng-src='{{tweet.user.profile_image_url}}' class='img-circle img-responsive pull-left'/>
                <span class='name'>{{tweet.user.name}} </span>
                <a href='http://twitter.com/{{tweet.user.screen_name}}'>
                    @{{tweet.user.screen_name}}
                </a>
                <a class='small' href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}">
                    {{tweet.timeString}}
                </a>
                <br />
		<p  ng-bind-html='tweet.text' ></p>
            </li>
        </ul>
  </div>
</div>
