<div class="row" ng-controller='HomeCtrl'>
  <div class="col-lg-8">
    <h2>Estados</h2>
    <p><input type='text' class='form-control' placeholder='Filtrar' ng-model='entidadFilter' /></p>
    <div class="btn-group">
      <button ng-repeat='entidad in entidades' type="button" class="btn btn-primary" ng-model="selectedEntidades[entidad.nombre]" btn-checkbox>
        {{entidad.nombre}}
      </button>
    </div>
    <hr/>
    <h2>Representantes</h2>
    <div class='row'>
      <div class='col-md-4' ng-repeat='rep in representantes | filter:filterReps()'>
        <div class='representante panel panel-default' >
          <div class='panel-body '>
            <span ng-class='rep.partido' class='label partido'>{{rep.partido}}</span>
            <img src='http://placekitten.com/74/74' class='img-circle img-responsive pull-left'/>
            <p>
              <strong>{{ rep.nombre }}</strong><br/>
              {{ rep.entidad.nombre }}<br/>
              {{camara(rep.camara)}}<br/>
            </p>
            <p class='social-media'>
              <a ng-repeat='net in socialNetworks' ng-href='{{socialLink(rep,net)}}' ng-hide='!socialLink(rep,net)'><span ng-class='"fa-"+net+"-square"' class='fa'></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-4">
    <h2>Tweets</h2>
    <div>
      
    </div>
  </div>
</div>