<div class="row" ng-controller='HomeCtrl'>
  <div class="col-lg-4">
    <h2>Entidades</h2>
    <div class="list-group" >
      <a ng-href="#{{entidad.id}}" ng-repeat='entidad in entidades' ng-class='classActive($first) ' class="list-group-item" >{{entidad.nombre}}</a>
    </div>
  </div>
  <div class="col-lg-4">
    <h2>Representantes</h2>
    <div class='panel'>
      
    </div>
  </div>
  <div class="col-lg-4">
    <h2>Tweets</h2>
    <div>
      
    </div>
  </div>
</div>