.copyleft{transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg); }


.representante{position:relative;height:150px;}
.representante .panel-body{padding:20px 15px 15px}
.representante img{margin:0 15px 0 0;}
.representante .partido{position:absolute;right:5px;top:3px;}
.representante .label{opacity:.66;}
.representante .social-media{position:absolute;right:5px;bottom:-7px;}
.representante .social-media a{margin:0 2px;}
.label.PRI{background-color:#CA1F39}
.label.PAN{background-color:#0045AE}
.label.PRD{background-color:#FFD203}
.label.MC{background-color:#FE5900;}
.label.PT{background-color:#E10109}
.label.PVEM{background-color:#A0CF67;}
.label.PANAL{background-color:#00B3B5;}

/* Angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }